  <section class="content">
    <aside class="side-content">
      <div class="hero-placeholder">
        &nbsp;
      </div>
    </aside>
    <article class="main-col">
      <hgroup>
        <h2>Diet Matchmaker provides recommendations of matching foods from different diets.</h2>
        <h3>The information is supported by reviews, suggestions and contributions from the members.</h3>
      </hgroup>

      <p>Looks like you are in or near <strong>San Francisco</strong>. It's lunch time!</p>

      <div class="cta-wrap">
        <%= link_to "What should I eat?", posts_path, :class => 'cta-button' %>
      </div>
    </article>
  </section>

  <%=
=begin
  link_to "My Blog", posts_path
=end
  %>  
