<h2>About Meal Buddy</h2>
<p>Everyone wants to be healthy. It'd be hard a human being who doesn't want to live longer. There is so much to do, so many things to discover, so many places to visit. You need a great balance between you body and you spirit, and a great role at that plays the food you eat.</p>
<p>Various clever diets become wide-spread around the world. Atkins, Paleo, Vegetarian, Fruitarian, you name it. So how do you know what works for you and your dietary habits?</p>
<p>Meal Buddy helps you transition into the diet of your choice with ease. It matches dishes that you are accustomed to with the ones from your new diet.</p>
